# Ignorer les fichiers et dossiers Docker
*.pid
*.tar
docker-compose.override.yml

# Ignorer les dépendances Node.js
node_modules/
npm-debug.log

# Ignorer les fichiers Python
__pycache__/
*.pyc
venv/

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers sensibles (.env)
.env

# Ignorer les fichiers de configuration VS Code
.vscode/
